#progress-wrapper {
  width: 86px;
  border: #000000 solid 1px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 10px #777;
  padding: 25px;
  z-index: 999;
  display: inline-block;

  text-align: center;
  position: absolute;
    right: -20px;
    top: -5px;
}

#progress-keeper {
  width: 0px;
  height: 0px;
  margin: auto;
  overflow: visible;
  z-index: 999;
}

#title-box {
  margin-bottom: 10px;
}

#progress-table {
  margin: 0 auto;
}

.game {
  /*Take away game indicator for now*/
  /*background-color: #e4c8e5;*/
}

.hide-button {
  color: #818080;
  cursor: pointer;
  font-size: 0.8em
}

.cursor {
  background-color: #ff9d9d;
}

.chapter-cell {
  border-radius: 20px;
  padding: 2px;
  text-align: center;
}
